
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
	background-color: black;
	font-family: 'Orbitron', sans-serif;
}

h1 {
	background-color: #000000;
	color: #FFFFFF;
	margin: 25px;
	letter-spacing: 4px;
	word-spacing: 2px;
	visibility: visible;
}

p {
	background-color: #000000;
	color: #FFFFFF;
	margin: 50px;
	letter-spacing: 4px;
	word-spacing: 2px;
	visibility: visible;
	text-indent: 30px;
}


.embedded{
	background-color: #000000;
	color: #FFFFFF;
	margin: 50px;
	visibility: visible;
}
